body {
  width: 600px;
  margin: auto;
  margin-top: 20px;
  font-family: monaco, Consolas, 'Lucida Console', monospace;
  font-size: 20px;
}

.blank {
  text-decoration: underline;
}

div {
  border: 1px solid;
  padding: 15px;
}

.header {
  margin: auto;
  height: auto;
  padding: 0;
}

.logo {
  width: 135px;
  float: left;
  margin-right: 398px;
  display:inline-block;
}

.title {
  width: 398px;
  float: right;
  display:inline-block;
}
input[type="text"] {
    width: auto;
    border: 2px solid;
    margin-bottom: 10px;

}

.error {
  font-size: 10px;
}
}