body {
  width: 40%;
  margin: auto;
  margin-top: 20px;
  font-family: Papyrus, fantasy;
  font-size: 20px;
}

div {
  border: 1px solid;
  padding: 15px;
}

.header {
  margin: auto;
}

.blank {
  text-decoration: underline;
}

.logo {
  width: 10%;
  float: left;
}

.title {
  width: 30%;
  float: left;
}
input[type="text"] {
    width: auto;
    border: 2px solid;
    margin-bottom: 10px;

}

